body{
  background-color:rgb(22, 21, 22);
  color: white;
  font-family: Arial;
}
.content
{
  display: block;
  text-align: center;
}
.moves
{
  margin-top: 100px;
}
.title
{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 0px 10px blue,0 0 20px blue,0 0 30px rgb(0, 81, 255);
}
.move-img
{
  height:50px;
}
.move-btn
{
  background-color: transparent;
  border: 3px solid white;
  height: 120px;
  width: 120px;
  margin-right: 20px;
  border-radius: 60px;
  cursor: pointer;
}
.rock-btn
{
  box-shadow: 0px 0px 10px rgb(255, 0, 0),0 0 20px rgb(255, 0, 0),0 0 30px rgb(255, 0, 0);
}
.paper-btn
{
  box-shadow: 0px 0px 10px rgb(0, 174, 255),0 0 20px rgb(0, 174, 255),0 0 30px rgb(0, 174, 255);
}
.scissor-btn
{

  box-shadow: 0px 0px 10px rgb(0, 255, 21),0 0 20px rgb(0, 255, 21),0 0 30px rgb(0, 255, 21);
}
.result
{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
.score{
  margin-top: 60px;
}
.reset-btn
{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  box-shadow: 0 0 20px blue,0 0 30px blue;
}
.auto-btn
{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  box-shadow: 0 0 20px rgb(230, 32, 197),0 0 30px rgb(230, 32, 197);
}
.control
{
  display: flex;
  justify-content: center;
  gap: 40px;
}